body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #eaeaea;
}

header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

.content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: #fff;
}

aside {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

aside h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
}

aside nav ul {
    list-style-type: none;
    padding: 0;
}

aside nav ul li {
    margin: 10px 0;
}

aside nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

aside nav ul li a:hover {
    color: #007BFF;
}

main {
    flex-grow: 1;
    padding: 20px;
    background: url('ciprian-porumbescu.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    position: relative;
}

main .overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    overflow: auto;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
}

form input, form textarea, form button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #555;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.gallery-item {
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item img {
    width: 100%;
    display: block;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}